.mealInfoContainer {
  display: 'flex';
  cursor: pointer;
}
.mealSelected {
  display: 'flex';
  align-items: 'center';
  /* display: block;
  width: 100%;
  height: auto; */
  transition: 0.5s all;
  /* pointer-events: none; */
  background-color: #0000001e;
}

.imageSelected {
  /* background-color: black; */
  display: block;
  width: 60px;
  transition: 0.5s all;

  height: 60px;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60px;
  transition: 0.5s all;

  background-color: rgba(51, 51, 51, 0.301);
}
.noDisplay {
  display: none;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s all;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
