.app-hover-cursor {
  cursor: pointer;
}
.page-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.week-items {
  font-size: 14px;
  font-weight: 600;
}
.ant-modal-header {
  padding-bottom: 0px;
  border-bottom: 0px;
}
