.app-hover-cursor {
  cursor: pointer;
}
.page-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.week-items {
  font-size: 14px;
  font-weight: 600;
}
.ant-modal-header {
  padding-bottom: 0px;
  border-bottom: 0px;
}
ul {
  margin: -8px -45px;
}
ul .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 15px 0;
}

.default-title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
